* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: separate;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "regular";
  src: url("../media/fonts/helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bold";
  src: url("../media/fonts/mabry.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mono";
  src: url("../media/fonts/mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #4094f5;
  --text-primary: #ffffff;
  --text-secondary: #999999;
  --bg-color: #000000;
}

html {
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--text-primary);
  font-family: "regular";
  overflow-x: hidden;
  margin-top: 5px;
  padding: 3rem 5rem;
  font-size: 1rem;
}

body hr {
  border: 0;
  clear: both;
}

body header a#logo {
  margin-top: 1rem;
  display: block;
  width: 2.5rem;
  margin-bottom: 1rem;
}

body header a#logo img {
  width: 100%;
}

body main img.capsule {
  width: 150px;
}

body main img.medium {
  max-width: 300px;
}

body main > * {
  max-width: 600px;
  margin-bottom: 30px;
}

body main > h1 {
  font-family: "bold";
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 30px;
}

body main > h2 {
  font-family: "bold";
  font-size: 1.5rem;
  text-transform: capitalize;
}

body main > img {
  width: 100%;
  max-width: 600px;
}

body main > ul {
  font-family: "mono";
  font-size: 0.8rem;
}

body main > ul li {
  list-style: disc;
}

body main > ul li a {
  text-transform: capitalize;
  text-decoration: underline;
}

body main > ul li b {
  font-weight: bold;
}

body main > ul li:hover a {
  text-decoration: none;
}

body main > p {
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--text-secondary);
}

body main > p a {
  color: var(--text-primary);
  text-decoration: underline;
}

body main > p b {
  font-weight: bold;
}

body main > p i {
  font-style: italic;
  line-height: 28px;
  font-size: 18px;
}

body main > code {
  font-family: "mono";
  font-size: 12px;
  margin-bottom: 30px;
  display: block;
  background: black;
  color: white;
  padding: 15px;
  white-space: pre;
}

body main > code comment {
  color: #777;
}

body main > p.quote {
  padding: 30px;
  font-size: 20px;
  font-style: italic;
  max-width: 400px;
}

body main > ul.jump {
  columns: 2;
  line-height: 20px;
}

body main > ul.jump li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  text-transform: capitalize;
}

body main > ul.jump li:hover {
  background: black;
  color: white;
}

img.thumbnail {
  border-radius: 3px;
  max-width: calc(100% - 20px);
  margin-bottom: 10px;
}
b {
  font-weight: bold;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
body main p sub {
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 900px) {
  body {
    padding: 30px;
  }
  body main > ul.jump {
    columns: 1 !important;
  }
}
